.SaveButton {
    transition: 0.3s;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width:calc(25px + 2vmin);
    height:calc(25px + 2vmin);
    cursor: pointer;
    margin-right: 2vmin;
    margin-top: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.SaveButton:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.SaveButton-image {
    width:calc(15px + 2vmin);
    height:calc(15px + 2vmin);
}