.App {
  text-align: center;
  margin: 5rem;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10rem;
}

h1{
  color: #FBC700;
  font-size: calc(50px + 1vmin);
  padding-top:5rem;
}

h3{
  color: white;
  font-size: calc(10px + 1vmin);
  font-weight: normal;
  margin-top: -2rem;
}

a {
  color: #FBC700;
  font-size: calc(8px + 1vmin);
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}